mysql
mysql_connector_python-8.3.0.dist-info
mysql_connector-2.2.9.dist-info
mysql-0.0.3.dist-info
mysqlclient-2.2.4.dist-info
MySQLdb
mysqlx
pkg_resources
platformdirs
platformdirs-4.2.0.dist-info
psycopg2
psycopg2_binary-2.9.9.dist-info
setuptools
setuptools-69.5.1.dist-info
sqlparse
sqlparse-0.5.0.dist-info
tzdata
tzdata-2024.1.dist-info
virtualenv
virtualenv-20.25.1.dist-info
wheel
wheel-0.43.0.dist-info
filelock-3.13.4.dist-info
filelock
Django-4.2.11.dist-info
django_crispy_forms-1.14.0.dist-info
django
distlib-0.3.8.dist-info
distlib
crispy_forms
bin
asgiref-3.8.1.dist-info
asgiref
_distutils_hack