{% extends 'webapp/base.html' %}

{% block content  %}

    <body>
            
        <div class="container bg-light shadow-md p-5 form-loyout">

        <h3>Создание карточки клиента</h3>
        <h6>Начните добавлять детали о вашем клиенте.</h6>
        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}
            {{form.as_p}}

            <br>
            <button type="submit" class="btn btn-primary">
                Создать &nbsp; <i class="fa fa-check" aria-hidden="true"></i> 
            </button>
            
            &nbsp;
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">
                Вернуться &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>


        </form>
        
        </div>
        
    </body>

{% endblock %}